/* Container for header */
.header-menu {
    display: flex;
    align-items: center;
    padding: 10px;
}

.navbar-brand {
    margin-right: auto; /* Push the logo to the left */
}

.main-logo {
    height: 50px; /* Adjust the height as needed */
}

.menu {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end; /* Push the menu to the right */
}

.menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu-item {
    position: relative;
}

.menu-item a {
    display: block;
    color: rgb(79, 79, 79);
    padding: 14px 16px;
    text-decoration: none;
}

.menu-item a:hover {
    border-radius: 12%;
    background-color: #f4f4f4;
}

/* Dropdown content styles */
.dropdown-content, .sub-dropdown-content {
    display: none;
    position: absolute;
    background-color: #e9e8e8;
    min-width: 160px;
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-item {
    padding: 0;
    text-align: left;

}

.dropdown-item a {
    color: rgb(50, 50, 50);
    text-decoration: none;
    display: block;
    padding: 12px 16px;
    background-color: #ffffff;

}

.dropdown-item a:hover {
    border-radius: 0;
}

/* Show the dropdown on hover */
.menu-item.dropdown:hover .dropdown-content,
.dropdown-item.sub-dropdown:hover .sub-dropdown-content {
    display: block;
}

.sub-dropdown-content {
    left: 100%;
    top: 0;
}
