.main-logo {
  height: auto;
  text-decoration: none;
  width: 40%;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  font-family: Tahoma;
  text-decoration: none;
  vertical-align: top;
}

.Home {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  font-family: Inter; /* Use a popular font family */
}

.carousel {
  width: 80%;
}
/* Media query for screens with a maximum width of 768 pixels (adjust as needed) */
@media (max-width: 768px) {
  .carousel {
    width: 100%; /* Each card takes up 100% of the product row width on smaller screens */
  }
}

.row-container {
  background-color: rgb(246, 246, 246);
  display: flex;
  justify-content: flex-end; /* Align to the right */
  padding: 10px; /* Adjust padding as needed */
}

.link {
  color: rgb(88, 88, 88);
  font-size: 12px;
  text-decoration: none;
  margin-right: 10px; /* Adjust margin between links as needed */
}

.link:last-child {
  margin-right: 0; /* Remove margin for the last link */
}

.logo-container {
  margin-right: 20px;
}
nav {
  display: flex;
}

.nav-bottom {
  border-bottom: 1px solid rgb(220, 219, 219);
}

nav a {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  padding: 10px;
}

/* Updated styles for dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  top: 11px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%; /* Align the top of the dropdown with the bottom of the parent */
  left: 0;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
/* Add this to your CSS file */
.overlay-text {
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: rgb(5, 63, 48);
  font-size: 24px;
  text-align: center;
}
.centered-text {
  text-align: center;
  margin: 0; /* Remove default margin */
}
.sub-container {
  width: 80%;
  font-size: 24px;
}

.para-main {
  font-size: 28px;
}
/* Add this to your CSS file */

.main-description-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px auto;
  max-width: 1200px;
}

.company-image {
  width: 40%;
  border-radius: 8px;
}

.company-description {
  font-size: 16px;
  width: 70%;
}

.company-name {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 15px;
}

.tagline {
  font-size: 1.5rem;
  color: #666;
  background-color: rgb(236, 245, 253);
  padding: 5px;
  margin-bottom: 20px;
}

.description {
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.6;
  color: #313131;
  margin-bottom: 15px;
  font-size: 22px;
}

.thumb-description {
  width: 100%;
  color: #313131;
  font-size: 18px;
  font-style: italic;
  padding: 0%;
}

.thumb-name {
  font-style: normal;
  font-weight: bold;
}

.product-row {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

/* Media query for screens with a maximum width of 768 pixels (adjust as needed) */
@media (max-width: 768px) {
  .product-row {
    width: 90%; /* Each card takes up 100% of the product row width on smaller screens */
  }
}

.product-card {
  width: 23%; /* Each card takes up 23% of the product row width */
  text-align: center;
  text-decoration: none;
  color: #333; /* Adjust text color as needed */
}

.thumbnail {
  width: 100%;
  max-height: 200px; /* Adjust max height as needed */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  margin: 2cqi;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  align-items: center;
  margin: 10px auto;
  justify-content: space-between;
}

.contact-column {
  flex-basis: calc(
    50% - 20px
  ); /* Adjust as needed, considering the padding and space between columns */
  margin: 10px;
}

.address,
.contact-details {
  margin-top: 15px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Add this to your CSS file */

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #e0e0e0;
  color: #4b4a4a;
  padding: 20px;
}

.footer-bed {
  justify-content: space-between;
  background-color: #575656;
  color: #ececec;
  padding: 2px;
}

.logo-container {
  flex: 1; /* Takes up 1 part of the available space */
}

.contact-column,
.quick-links-column,
.follow-us-column {
  flex: 1; /* Each column takes up 1 part of the available space */
}

.quick-links-column a:link {
  color: #313131;
  text-decoration: none;
}

.quick-links-column {
  vertical-align: top;
  text-decoration: none;
}

.main-logo {
  width: 25%;
  max-width: 25%; /* Adjust the size as needed */
}

.footer-logo {
  width: 75%;
  max-width: 75%; /* Adjust the size as needed */
}
.italics {
  font-style: italic;
}

.bold {
  font-style: bold;
}

.small-text {
  font-size: 10px;
}

.medium-text {
  font-size: 14px;
}
.about-us {
  /* Add your main content styles */
}

/* Hero Section Styles */
.hero {
  background-color: #f0f0f0;
  padding: 15px 0;
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
  color: #333;
}

.hero p {
  font-size: 1.2rem;
  color: #666;
}

/* Content Container Styles */
.content-container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Section Styles (Adjust as needed) */
.about-apex,
.background-insight,
.unwavering-resolve,
.commitment-excellence,
.our-mission,
.our-solution,
.apex-electricals,
.the-facts {
  padding: 10px 0;
}

.content-container h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

/* Add styling for ContactCard, Quick Links, and SocialIcons components as needed */
